<% provide :title, t(".about_title") %>
<h1><%= t ".about_h1" %></h1>
<p>
  <%= raw t(".about_content", link_to_tutorial: link_to(content_tag(:em,
    t(".rails_tutorial")), "http://www.railstutorial.org/"), link_to_book:
    link_to(t(".book"), "http://www.railstutorial.org/book"),
    link_to_screencast: link_to(t(".screencasts_series"),
    "http://screencasts.railstutorial.org/"), link_to_rails:
    link_to(t(".ruby_on_rails"), "http://www.railstutorial.org/")) %>
</p>
