<% provide :title, t(".home_title") %>
<div class="center jumbotron">
  <h1><%= t ".home_h1" %></h1>
  <h2>
    <%= raw t(".home_content", link_to_rails:
      link_to(t(".rails_tutorial"), "http://www.railstutorial.org/")) %>
  </h2>
  <%= link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
