<h1><%= t "user_mailer.reset_password" %></h1>
<%= raw t("user_mailer.reset_password_text",
  link_to_reset: link_to(t("user_mailer.reset_password"),
  edit_password_reset_url(@user.reset_token, email: @user.email))) %>
