$logo-color: #fff;
$logo-color-hover: #c53131;

$h2-color: #777;

$text-link-color-menu: #fff;
$text-link-color-menu-hover: #c53131;

$footer-color: #777;
$footer-border-color: #eaeaea;
$text-link-color-footer: #555;
$text-link-color-footer-hover: #c53131;
