<footer class="footer">
  <small>
    <%= raw t("footer.small_text",
      link_to_rails: link_to(t(".footer.rails_tutorial"),
      "http://www.railstutorial.org/"), link_to_michaelhartl:
      link_to(t(".footer.michael_hartl"), "http://www.michaelhartl.com/")) %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("footer.about"), about_path %></li>
      <li><%= link_to t("footer.contact"), contact_path %></li>
      <li><%= link_to t("footer.footer.news"),
        "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
