<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("header.sample_app"), root_path, id: "logo" %>
    <nav>
      <ul class="menu nav navbar-nav navbar-right">
        <li><%= link_to t("header.home"), root_path %></li>
        <li><%= link_to t("header.help"), help_path %></li>
        <li><%= link_to t("header.login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
